<td id="cell-{{ day|date:'Ymd' }}-{{ slot_index }}"
    {% if oob %}hx-swap-oob="outerHTML"{% endif %}
    class="trainer-day-cell">
  <a
    class="trainer-cell {% if slot %}{% else %}trainer-cell-empty{% endif %}"
    href="#"
    hx-get="/slot-modal/{{ day|date:'Y' }}/{{ day|date:'m' }}/{{ day|date:'d' }}/{{ slot_index }}/?plan={{ selected_plan.id }}"
    hx-target="#modal-container"
    hx-swap="innerHTML"
  >
    {% if slot %}
      <div class="trainer-celltext">
        {% for seg in slot.segments.all %}
          {% if seg.text %}
            {% include "core/partials/segment_display.html" with seg=seg %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </a>
</td>
